.DS_Store
.artifacts/
node_modules
.idea
.vscode/*
!.vscode/settings.json
dist
dist-ssr
test-results/
playwright-report/
*.local
.env
.env.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
build
