@reference '@workspace/ui/globals.css';

@theme inline {
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
}

@layer utilities {
  .text-success {
    color: var(--success);
  }

  .text-danger {
    color: var(--danger);
  }
}

:root {
  --success: oklch(0.527 0.154 150.069);
  --success-foreground: oklch(0.985 0 0);
  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(0.985 0 0);
}

html {
  overscroll-behavior: none;
}

.dark {
  --background: oklch(0 0 0);
  --sidebar: oklch(0.170 0 0);
  --sidebar-foreground: oklch(0.82 0 0);
  --sidebar-accent: oklch(0.205 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 9%);
  --success: oklch(0.696 0.17 162.48);
  --success-foreground: oklch(0.145 0 0);
  --danger: oklch(0.704 0.191 22.216);
  --danger-foreground: oklch(0.985 0 0);
}
